
@{
    ViewBag.Title = "Sklep Sportowy: zamówienie zostało przyjęte";
}

<div class="row justify-content-center m-0 p-0 m-md-5">
    <!-- Filtry -->
    <div class="col-xl-3 col-lg-4 p-2 m-0">
        <div class="card rounded-0 shadow-sm p-3 bg-light bg-light">
            <div class="card-body text-left justify-content-center">
                <p class="card-text mt-2 text-center w-100">
                    <h2 class="m-auto">Dziękujemy</h2>
                    Dziękujemy za złożenie zamównienia
                </p>
                 
            </div>
        </div>
    </div>
</div>



